{{ $content_type := .Params.content_type }}

{{ $aboutPage := .Site.GetPage $content_type }}

{{ if or $aboutPage.Params.academia $aboutPage.Params.work}}
{{ if $aboutPage.Params.work }}
<div class="academia col ">
    <h4 class="main_color">Work Experience</h4>
    {{range $work := $aboutPage.Params.work}}
    <div class="row">
        <div class="course col">
            <div class="institution_dates row">
                <div class="institution col" id="institution_title">
                    {{$work.course.institution}}
                </div>
                <div class="main_color dates col-md-auto  justify-content-end">
                    {{$work.course.start_date}}
                    {{ if $work.course.end_date }}
                    - {{$work.course.end_date}}
                    {{else}}
                    - present
                    {{end}}
                </div>
            </div>
            <div class="degree_major row">
                <div class="text-muted col">
                    {{$work.course.degree}} {{$work.course.major}}

                    {{if $work.course.minor }}
                    , Minor: {{$work.course.minor}}
                    {{end}}
                </div>
            </div>

            {{if $work.course.other_info}}
            <div class="other_info row text-muted">
                <div class="col">
                    {{$work.course.other_info}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
{{end}}

{{if $aboutPage.Params.academia}}
<div class="academia col">
    <h4 class="main_color">Academia</h4>
    {{range $academia := $aboutPage.Params.academia}}
    <div class="row">
        <div class="course col">
            <div class="institution_dates row">
                <div class="institution col" id="institution_title">
                    {{$academia.course.institution}}
                </div>
                <div class="main_color dates col-md-auto  justify-content-end">
                    {{$academia.course.start_date}}
                    {{ if $academia.course.end_date }}
                    - {{$academia.course.end_date}}
                    {{else}}
                    - present
                    {{end}}
                </div>
            </div>
            <div class="degree_major row">
                <div class="text-muted col">
                    {{$academia.course.degree}} {{$academia.course.major}}

                    {{if $academia.course.minor }}
                    , Minor: {{$academia.course.minor}}
                    {{end}}
                </div>
            </div>

            {{if $academia.course.other_info}}
            <div class="other_info row text-muted">
                <div class="col">
                    {{$academia.course.other_info}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
{{end}}
{{end}}
